<nav class="rb-menu" aria-label="Menu principal">
  <!-- Logo -->
  

  <!-- Botão hamburguer (só no mobile) -->
  <button class="rb-burger" type="button" aria-label="Abrir menu" aria-expanded="false">
    <span></span><span></span><span></span>
  </button>

  <!-- Links (desktop) -->
   <!-- VERSAOANTIGA <div class="rb-links">
  <a href="../index.html" class="is-active">Home</a>
  <a href="../pages/galeria.html">Galeria</a>
  <a href="../index.html" class="rb-logo" aria-label="Ir para a Home">
    <img src="../assets/img/fotos-originais/novalogo_paraMudarCor.png" alt="Rosa Berardo">
  </a>
  <a href="../pages/blog.html">Blog</a>
  <a href="../pages/contato.html">Contato</a>
</div> -->
  <div class="rb-links">
    <a href="../index.html" class="is-active">A Cineasta</a>
    <a href="../pages/galeria.html">Galeria</a>
    <a href="../pages/revistas.html">Revista</a>
    <a href="../index.html" class="rb-logo" aria-label="Ir para a Home">
      <img src="../assets/img/fotos-originais/novalogo_paraMudarCor.png" alt="Rosa Berardo">
    </a>
    <a href="../pages/filmografia.html">Filmografia</a>
    <a href="../pages/blog.html">Blog</a>
    <a href="../pages/contato.html">Contato</a>
  </div>
</nav>

<!-- Menu mobile (abre/fecha) -->
<div class="rb-mobile-menu" hidden>
    <a href="../pages/a-cineasta.html">A Cineasta</a>
    <a href="../pages/galeria.html">Galeria</a>
    <a href="../pages/filmografia.html">Filmografia</a>
    <a href="../pages/revistas.html">Revista</a>
    <a href="../pages/blog.html">Blog</a>
    <a href="../pages/contato.html">Contato</a>   
</div>
